/* 젤큰박스 */
.mybox {
    text-align: center;
    align-items: center;
    /*font-family: arial;*/
    font-size: 25px;
    margin: 10% 50px 50px 40%;
    /*margin: 상 우 하 좌 */
    padding: 20px;
    width: 360px;
    outline: solid 2px black;
}



/*각 버튼 스타일*/
.button {
    color: white;
    background-color: black;
    border-radius: 50%;
    font-size: 22px;
}




/* 눈사람 박스 */
.snowman {
    width: 360px;
    /*writing-mode: horizontal-tb;*/
    color: white;
    background-color: black;
    border-radius: 5px;
    text-align: center;
}


/* 다른 사람 게이지 */
.otherbox {
    width: 800px;
    color : white;
    background-color: black;
    margin-top: 150px;
    margin-left: 460px;
    /*margin : 상 우 하 좌 */
    padding: 20px;
    border-radius: 20px;
}



/*맘에 든 색깔 : cornflowerblue*/
